flask==1.1.2
numpy==1.19.0
cryptography==2.9.2
bcrypt==3.1.7
colorlog==4.1.0
pycrypto==2.6.1
pyyaml==5.3.1
dynaconf==2.2.3
cython==0.29.17
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.34
requests==2.23.0
CacheControl==0.12.6
flask-socketio==4.3.2
pyjwt==1.7.1
redis==3.5.0
pytz==2020.1
dataclasses==0.6
unidecode==1.1.2
